@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&family=Fraunces:opsz,wght@9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800&family=Inter:wght@200;300;400;500;600&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600&family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@200;300;400;500&display=swap');


.mainContainer{
    display: flex;
    background-color: whitesmoke;
}

.descriptionContainer{
    flex: 1;
    padding: 40px;
    text-align: center;

}

.descriptionContainer > h1 {
    font-family: "Raleway", sans-serif;  
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 100px 0px 20px 0px;
}

.descriptionContainer > p {
    font-family: 'Ubuntu';
    line-height: 25px;
}

.imagesContainer {
 padding: 40px;
 flex: 1;
 margin: auto;
 text-align: center;
}

.vidriosContainer {
    display: flex;
}
.finalDeObraContainer {
    display: flex;
    flex-direction: row-reverse;
}

.pisosContainer {
    display: flex;
}

.heading {
    font-family: "Raleway", sans-serif; 
} 
.subHeading {
    font-family: "Raleway", sans-serif;  
    font-size: 2em;
    font-weight: 300;

}