.bodyContainer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
     background-image: url('../public/imgs/main-img.jpg');
    background-size: cover;
    background-position: center;
}

.mainContainer {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 220px 0px 220px;
}

