@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&family=Fraunces:opsz,wght@9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800&family=Inter:wght@200;300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600&family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@200;300;400;500&display=swap');

.mainContainer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgba(22, 53, 131, 1);

}

.headContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.heading {
    font-family: 'Raleway', sans-serif;
    font-size: 2.4em;
    font-weight: 400;
}

.infoContainer {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.paragraph {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 100;
    text-align: right;
    padding: 40px;
    line-height: 35px;
    letter-spacing: 2px;
}

@media (max-width: 900px) {
    .mainContainer {
        flex-direction: column;
    }
    .heading, .paragraph {
        text-align: center;
    }
    .heading {
        margin-bottom: -30px;
    }

  }